@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.cabecalho {
    width: 100%;
    height: 420px;
}

.imagem-logo {
    width: 120px;
    height: 40px;
}

.imagem-banner {
    width: 1900px;
    height: 400px;
}

.icone {
    width: 50px;
    height: 20px;
}

.rodape-container {
    background-color: #a9c9ba;
}


