.apresentacao-livro {
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.descricao-page-individual {
    margin-right: 200px;
    margin-left: 50px;

}
