.apresentacao-livro {
    margin-top: 100px;
    margin-left: 230px;
    margin-right: 50px;
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

.descricao-page-individual {
    margin-right: 140px;
    margin-left: 100px;

}

.livro-page-individual {
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
    height: 350px;
}

.botao-comprar {
    margin-left: 1080px;
    margin-top: 5px;
}


